@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: hsl(204, 43%, 93%);
}

.card {
    width: 280px;
    height: 580px;
    margin: auto;
}

.propaganda {
    background-color: white;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    height: 200px;
}

.propaganda h4 {
    color: hsl(179, 62%, 43%);
    margin: 10px;
}

.propaganda h5 {
    color: hsl(71, 73%, 54%);
    margin: 10px;
}

.propaganda p {
    color: hsl(218, 22%, 67%);
    margin: 10px;
}

.assinatura {
    background-color: hsl(179, 62%, 43%);
    padding: 10px;
    height: 180px;
}

.assinatura h4 {
    color: hsl(204, 43%, 93%);
    margin: 10px;
}

.assinatura p {
    color: hsla(203, 44%, 93%, 0.866);
    margin: 10px;
}

.preco {
    display: flex;
    align-items: center;
    margin: 10px;
}

.preco h3 {
    padding-right: 10px;
    color: hsl(204, 43%, 93%);
    font-size: 1.5em;
}

.preco strong {
    color: hsl(179, 60%, 53%);
}

button {
    background-color: hsl(71, 73%, 54%);
    color: hsl(204, 43%, 93%);
    border: none;
    width: 240px;
    height: 30px;
    border-radius: 5px;
    margin: 10px;
}

.sobre {
    background-color: hsla(179, 62%, 43%, 0.534);
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    height: 180px;
}

.sobre h4 {
    color: hsl(204, 43%, 93%);
    margin: 10px;
}

.sobre p {
    color: hsla(203, 44%, 93%, 0.685);
    margin: 10px;
    text-align: left;
}
